
details {
  margin-bottom: .5rem;
  width: 100%;
}

details p {
  padding: 2rem;
}

summary {
  padding: 2rem;
  background-color: #9fb6ce;
  border: 1px solid #9fb6ce;
  outline: none;
}

summary:hover,
summary:focus {
  border: 1px solid lightslategray;
}

details[open] summary {
  background-color: lightslategray;
  border: 1px solid lightslategray;
}

details[open] {
  background: #fff;
}

section {
  max-width: 80%;
  width: 100%;
}

